<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
</head>
<body>
    <!--we also have tags that dont show antyhing on screen but groups things together-->
    <!--we used to use div tags for this-->
    <header>
        <!--to link things we use ancor tags with and html reference we call this href-->
        <h1><a href ="">Django Girls Blog</a></h1>
    </header>
    {% for post in posts %}
        <article>
            <time>published: {{post.published_date}}</time>
            <h2><a href="">{{post.title}}</a></h2>
            <p>{{post.text|linebreaksbr}}</p>
        </article>
    {% endfor %}

</body>
</html>